apiVersion: apps/v1
kind: Deployment
metadata:
  name: ocm-agent-operator
  namespace: openshift-ocm-agent-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ocm-agent-operator
  template:
    metadata:
      labels:
        name: ocm-agent-operator
    spec:
      serviceAccountName: ocm-agent-operator
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: node-role.kubernetes.io/infra
                    operator: Exists
              weight: 1
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/infra
      containers:
        - name: ocm-agent-operator
          # Replace this with the built image name
          image: REPLACE_IMAGE
          command:
            - ocm-agent-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: "openshift-ocm-agent-operator,openshift-config,openshift-monitoring"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "ocm-agent-operator"
